:root {
    --rotation: 0;
    --speed:0;
}

* {
    margin: 0;
    padding: 0;

}

h1 {
    margin: auto;
    width: 100px;
    color: white;

}

#header {
    background-color: rgba(68, 66, 66, 0.8);
    width: 80%;
    height: 500px;
    margin: auto;
}

body {

    height: 400vh;
    background-color: black;

}

.bg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    perspective-origin: center;
    perspective: 60px;

    background-image:  radial-gradient(150px 300px, #dddcdc 30%, black 110%);
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px) ;
}

#container1, #container2 {
    position: fixed;
    right: -10vw;
    transition: 2s;
    height: 100vh;
    width: 50vw;
    transform: rotateY(90deg) translateX(10vw);
    z-index: -1;

}

#container2 {
    right: revert;
    left: -10vw;

}

.row {
    transition: 7s;
    transform: rotateX(var(--rotation));
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin-right: -10vw;
}

.cube {


    height: 70%;
    width: 0.7%;
    margin:0.15%;
    transition: 30ms;
}
.notcuve{
    background-color: aliceblue;
    height: 70%;
    width: 0.7%;
    margin: 0 0% 15% 0.15%;
    transition: 50ms;
    border-radius: 10%;
}

.left, .right {
    height: 200px;
    width: 40%;
    margin-left: 10%;
    margin-top: 30px;
    background-color: rgba(7, 7, 7, 0);
    border-radius: 20px;
}

.right {

    margin-left: 50%;

}

